@{

    Layout = null;
}
<style type="text/css">
    #container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
<body>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src=""></script>
        <script type="text/javascript" src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>*@

    @*<script src="~/JS/App.js"></script>
        <div id="container">
            <a href="http://go.microsoft.com/fwlink/?linkid=66138&amp;clcid=0x409"><img src="http://210.245.8.48/iis-85.png" alt="IIS" width="960" height="600"></a>
        </div>*@
    <div id="container">
        <img src="https://blogs.mulesoft.com/wp-content/uploads/apis-versus-web-services-1.png" />
        <p>
            <span style="font-size: 16pt;">PNG SOFT API SERVER XML</span>
            <br />
            <i style="font-size: 9pt;">DEV BY: PNG-SOFT</i>
        </p>

    </div>
</body>